* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: police1;
    src: url("../polices/Kaushan.otf");
}

a {
    text-decoration: none;
    color: black;
}

body {

}

.contener {
    display: flex;
    flex-direction: column;
    background: url("../img/glacier.jpg") no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

#texte_ifr, #texte_tbl {
    width: 100% !important;
}

h3 {
    color: blue;
}

/*======================================================*/
/*==========Chapitres=================================*/
.navigation {
    display: flex;
    justify-content: space-between;
}

#retourAccueil {
    background: darkgray;
    text-align: center;
    padding: 7px;
    margin-top: 10px;
    margin-left: 1%;
    border-radius: 9px;
    box-shadow: 3px 2px 9px -1px black;
    color: blue;
}

#retourAccueil:hover {
    color: blanchedalmond;
}

#retourAccueil:active {
    box-shadow: none;
}

#deconnexion {
    background: darkgray;
    text-align: center;
    padding: 7px;
    margin-top: 10px;
    margin-right: 1%;
    border-radius: 9px;
    box-shadow: 3px 2px 9px -1px black;
    color: red;
}

#deconnexion:hover {
    color: black;
}

#deconnexion:active {
    box-shadow: none;
}

h1 {
    text-align: center;
    margin-bottom: 24px;
    margin-top: 20px;
    font-size: 25px;
    font-family: police1;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
    font-family: police1;
    margin-top: 20px;
}

#creatChapitres {
    display: flex;
    flex-direction: column;
    width: 202px;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 50px;
    border-bottom: 1px solid;

}

#blockCommentaires {
    padding: 10px;
}

#nouvChap {
    background-color: darkgray;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 2px 2px 10px -1px black;
    color: blue;
}

#nouvChap:hover {
    color: blanchedalmond;
}

#titre {
    font-size: 22px;
    color: darkblue;
    text-align: center;
    font-family: police1;
}

#nouvChap:active {
    box-shadow: none;
}

#liens {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-bottom: 26px;
    background-color: snow;
    opacity: 0.8;
}

.lien {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

#liens .lien #voirChapter {
    width: 112px;
    margin-bottom: 15px;
    background-color: darkgray;
    padding: 7px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 2px 2px 10px 2px black;
    color: blue;
    font-size: 16px;
}

#liens .lien #voirChapter:hover {
    color: blanchedalmond;
}

#liens .lien #voirChapter:active {
    box-shadow: none;
}

#liens .lien #suppre {
    width: 88px;
    margin-bottom: 15px;
    background-color: darkgray;
    padding: 7px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 2px 2px 10px 2px black;
    color: red;
    font-size: 16px;
}

#liens .lien #suppre:hover {
    color: black;
}

#liens .lien #suppre:active {
    box-shadow: none;
}

#liens .lien #modif {
    width: 88px;
    margin-bottom: 15px;
    background-color: darkgray;
    padding: 7px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 2px 2px 10px 2px black;
    color: blue;
    font-size: 16px;
}

#liens .lien #modif:hover {
    color: blanchedalmond;
}

#liens .lien #modif:active {
    box-shadow: none;
}

#liens .lien #comments {
    width: 158px;
    background-color: darkgray;
    padding: 7px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 2px 2px 10px 2px black;
    color: blue;
    font-size: 16px;
}

#liens .lien #comments:hover {
    color: blanchedalmond;
}

#liens .lien #comments:active {
    box-shadow: none;
}

/*================================================================*/
/*===================Commentaires signalé========================*/

.signalement {
    padding: 20px;
    margin-bottom: 28px;
    font-size: 18px;
    background-color: snow;
    opacity: 0.8;
}

.dates {
    margin-bottom: 10px;
    color: blue;
    font-family: police1;
}

.pseudo {
    margin-bottom: 15px;
    color: blue;
}

.text {
    margin-bottom: 62px;
}

.delete_btn {
    width: 79px;
    background-color: darkgray;
    padding: 5px;
    border-radius: 12px;
    box-shadow: 2px 2px 10px 2px black;
    color: red;
    text-align: center;
    cursor: pointer;
}

.delete_btn:hover {
    color: black;
}

.delete_btn:active {
    box-shadow: none;
}

.warning_container p{
    color: red;
}

.warning_button_container{
    margin-top: 20px;
}

.delete_confirm{
    padding: 6px;
    margin-left: 45px;
}

.delete_confirm a{
    color: red;
}

.delete_cancel{
    padding: 6px;
    cursor: pointer;

}
/*=============================================================*/
/*=====================style éditer un chapitre admin (viewAdmin.php)=============================*/

#titreEditeur {
    text-align: center;
    zoom: 142%;
}

#numeroChapitre {
    text-align: center;
    zoom: 142%;
}

#editeurTinyMce {
    margin-bottom: 45px;

}

#retourTB {
    text-align: center;
    margin: auto;
    background-color: darkgray;
    padding: 7px;
    border-radius: 12px;
    box-shadow: 2px 2px 10px -1px black;
}

#retourTB:active {
    box-shadow: none;
}

/*=============================================================*/
/*=====================style lien voir commentaire du tableau de bord=============================*/

.news {
    padding: 26px;
    width: 78%;
    margin: auto;
    margin-bottom: 15px;
    background-color: snow;
    opacity: 0.7;
}

#commentaire {
    margin-bottom: 20px;
}

#suppre {
    background-color: darkgray;
    padding: 5px;
    border-radius: 12px;
    box-shadow: 2px 2px 10px 2px black;
    color: red;
}

/*======================================================*/
/*=================media queries=====================================*/
@media all and (min-width: 640px) {
    /*=============tableau de bord Chapitres============*/
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 34px;
    }

    #blockCommentaires {
        padding: 25px;
    }

    /*===================tableau de bord commentaires============================================*/
    #reportComment {
        padding: 25px;
    }

    /*======================================================*/
    /*============éditer un chapitre admin (viewAdmin.php)========*/
    #retourTB {
        margin-bottom: 20px;
    }

}

/*====================================================================*/
/*====================================================================*/

@media all and (min-width: 1000px) {
    /*==========tableau de bord chapitre=============*/
    h1 {
        font-size: 58px;
    }

    h2 {
        font-size: 45px;
    }

    #titre {
        font-size: 30px;
    }

    #liens .lien #comments {
        max-width: 18%;
    }

    #blockCommentaires {
        padding: 86px;
    }

    /*=============tableau de bord commentaire signalés==============*/
    #reportComment {
        padding: 86px;
    }

    /*=======================tinyMce========================================*/
    td {
        zoom: 1.2;
    }

    #texte_ifr {
        height: 350px !important;
    }

    /*==================================================================*/
    #retourTB {
        max-width: 18%;
    }
}

@media all and (min-width: 1500px) {
    body {
        margin-left: 10%;
        margin-right: 10%;
    }

    #texte_ifr {
        height: 550px !important;
    }

}

/*************************************************************************/
/*********************page erreur identifiant*/
.errorID p {
    text-align: center;
    color: red;
    font-size: 68px;
}

.errorID img {
    width: 100%;
    height: auto;
}

.retourAcceuil {
    background-color: black;
    width: 120px;
    text-align: center;
    padding: 7px;
    margin-top: 10px;
}

.retourAcceuil a {
    color: white;
}

/******************************************************************************/
/*************************templateDeletCommet.php************************/

.warning_container {
    display: none;
    margin-top: 20px;
}

