
* {
    outline: 0;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

@font-face {
    font-family: police1;
    src: url("../polices/Kaushan.otf");
}

.contener {
    display: flex;
    flex-direction: column;

}

/****************************************************************************************************/

.contener1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("../img/alaska1.jpg") no-repeat center;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover;
}

.fixed {
    margin: auto;
}

#jeanF {
    text-align: center;
    margin-top: 10px;
    color: blanchedalmond;
    font-size: 30px;
    font-family: police1;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}

#menu1 ul {
    display: flex;
}

#menu1 {
    margin-top: 25px;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}



#menu1 a {
    color: blanchedalmond;
    font-family: police1;
}

#menu1 li {
    padding: 0 0 0 25px;
}

#menu1 li:hover {
    transform: scale(1.30);
    transition: all 600ms;
}

#titre1 {
    text-align: center;
    font-family: police1;
    font-size: 34px;
    margin-top: 70px;
    margin-bottom: 145px;
    color: blanchedalmond;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

/*********************************************************************/
.contener2 {
    background-color: #2e3842;
}

#presentationText{
    margin-top: 50px;
}

.contener h2 {
    color: blanchedalmond;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

img{
    width: 140px;
}

.image.left, .image.right {
    max-width: 40%;
}
.image.left {
    float: left;
    margin: 0 2.2em 0 0;
    top: 0.25em;
}

.image {
    border-radius: 3px;
    border: 0;
    display: inline-block;
    position: relative;
}


#presentationText p {
    color: blanchedalmond;
    width: 90%;
    margin: auto;
    margin-bottom: 45px;
    line-height: 140%;
}

/**************************************************************************************/
.contener3 {
    background-color: #272d39;
}

#chapitreTitre {
    font-family: police1;
}

#menuChapitre ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#menuChapitre li{
    padding: 40px;
    font-size: 20px;
    font-family: police1;
    margin: auto;


}

#menuChapitre{
    margin-top: 50px;
}

#menuChapitre li a{
    color: blanchedalmond;
}

/*****************************************************************************/

#piedDePage{
    background-color: black;
}

#piedDePage p{
    color: white;
    text-align: center;
    padding: 15px;
}

/*****************************************************************************/
/************************************************************************/

@media all and (min-width: 780px) {

    /*************contener 1*****************/
    #jeanF{
        font-size: 50px;
    }

    #menu1 li{
        font-size: 30px;
        padding: 0 0 0 44px;
    }

    #titre1{
        font-size: 60px;

    }

    /************* contener 2 *********************************/

    .contener h2{
        font-size: 30px;
    }

    .image.left{
        margin: 0 0.5em 0 0;
    }

    #menuChapitre li{
        padding: 29px;

    }
}

@media all and (min-width: 1100px){

    /*******************contenere 2****************************/

    .contener h2 {
        font-size: 35px;
    }

    #presentationText p{
        font-size: 20px;
        width: 80%;

    }

    /*****************contener 3*************************************/
    #chapitreTitre{
        font-size: 35px;
    }

    #menuChapitre li {
        padding: 40px;
    }
}

/************************************************************************************/


@media all and (min-width: 1500px){

    .contener1{
        height: 850px;
        background: url(../img/alaska1.jpg) no-repeat center fixed;
    }
    .fixed {
        display: flex;
        margin-top: 15px;
        width: 100%;
        justify-content: space-around;

    }

    #titre1{
        margin-bottom: 318px;
        font-size: 80px;
    }

    /****************************************************/

    .contener2 {
        height: 520px;
    }

    img{
        width: 180px;
    }

    .image.left {
        padding-right: 110px;
    }

    /**********************************************************************/

    .contener3{
        height: 398px;
    }
}

@media all and (min-width: 1700px){
    body{
        margin-right: 10%;
        margin-left: 10%;
    }
}

/*****************************************************************************************************************/
/************************************page de chapitres********************************************************/
/**************chapitres********************/

.contener2Chapitre{
    display: flex;
    flex-direction: column;
    background-color: #2e3842;
}

.contener2Chapitre{
    padding: 36px;
}

.RetourChapitre a{
    color: black;
    background-color: blanchedalmond;
    padding: 5px;
    box-shadow: 3px 1px 5px -1px blanchedalmond;
}

.RetourChapitre{
    margin-top: -25px;
    margin-bottom: 35px;
}

.RetourChapitre a:active{
    box-shadow: none;
}
h1{
    text-align: center;
    font-family: police1;
    color: blanchedalmond;
}

h2{
    text-align: center;
    margin-top: 20px;
    font-family: police1;
    color: blanchedalmond;
    margin-bottom: 50px;
}

#text p{
    color: blanchedalmond;
    line-height: 155%;
}

/*******************commentaires****************************/
.contener3Chapitre{
    background: url("../img/alaska1.jpg") no-repeat center fixed;
}

.envoiCom h4{
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 20px;
}

.pseudo{
    display: flex;
    flex-direction: column;
}

#membrePseudo{
    width: 50%;
}

.message{
    display: flex;
    flex-direction: column;
}

#message{
    width: 60%;
    height: 25px;
}

.envoiCom{
    padding: 20px;
}

#envoyer{
    padding: 10px;
    background-color: #2e3842;
    color: blanchedalmond;
    box-shadow: 4px 3px 16px -2px black;
    border: none;
}

#envoyer:active{
    border: none;
}

.comment{
    padding: 20px;
}

.news{
    background-color: blanchedalmond;
    padding: 20px;
}

#signalCom{
    margin-top: 20px;
    background-color: darkgrey;
    width: max-content;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 4px 3px 16px -2px;
}

#signalCom a{
    color: black;
}

#signalCom:active{
    box-shadow: none;
}

.retour{
    margin-top: 35px;
    background-color: #2e3842;
    width: max-content;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 3%;
    box-shadow: 4px 3px 16px -2px;
}

.retour:active{
    box-shadow: none;
}

.retour a{
    color: blanchedalmond;
}

@media all and (min-width: 780px) {
    #membrePseudo{
        width: 200px;
    }

    #message{
        width: 490px;
    }
}

/****************************************************************************/
/****************************page erreur******************************/

.error img{
    width: 100%;
    height: auto;
}