
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

@font-face {
    font-family: police1;
    src: url("../polices/Kaushan.otf");
}

.contener {
    display: flex;
    flex-direction: column;

}

/****************************************************************************************************/

.contener1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("../img/alaska.jpg") no-repeat center;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover;
}

.fixed {
    margin: auto;
}

#jeanF {
    text-align: center;
    margin-top: 10px;
    color: blanchedalmond;
    font-size: 30px;
    font-family: police1;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}

#menu1 ul {
    display: flex;
}

#menu1 {
    margin-top: 25px;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}



#menu1 a {
    color: blanchedalmond;
    font-family: police1;
}

#menu1 li {
    padding: 0 0 0 25px;
}

#menu1 li:hover {
    transform: scale(1.30);
    transition: all 600ms;
}

#titre1 {
    text-align: center;
    font-family: police1;
    font-size: 34px;
    margin-top: 70px;
    margin-bottom: 145px;
    color: blanchedalmond;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

.contener2 {
    background-color: #2e3842;
}

.contener h2 {
    color: blanchedalmond;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

#presentationText p {
    color: blanchedalmond;
    width: 80%;
    margin: auto;
    margin-bottom: 45px;
}

.contener3 {
    background-color: #272d39;
}

#chapitreTitre {
    font-family: police1;
}

#menuChapitre ul {
    display: flex;
    flex-direction: column;
}

#menuChapitre li{
    padding: 15px;
    font-size: 20px;
    font-family: police1;
    margin: auto;


}

#menuChapitre{
    margin-top: 50px;
}

#menuChapitre li a{
    color: blanchedalmond;
}

/*=============================================================*/
/*==============footer=========================================*/

/*===================================*/

/*.fixed{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

}
/*=======================================================================*/




/*


/*==========================================================*/





/*===============================================================*/
/*========================titre=======================================*/

/*=====================================================================*/
/*========================== contener 2==================================*/


/*










